.project {
  padding: 110px 70px 95px;
  color: #000;
  /* max-width: calc(100% - 140px); */
}
.project__runtime {
  padding: 0;
  margin: 70px 0 0;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  list-style-type: none;
}
.project__runtime-item {
  max-width: 550px;
}
.project__runtime-title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: -0.8px;
}
.project__runtime-text {
  padding: 0;
  margin: 26px 0 0;
  font-size: 14px;
  line-height: 20px;
}
.project__runtime-scheme {
  margin-top: 110px;
  display: grid;
  grid-template-columns: 228px auto;
  text-align: center;
}
.project__runtime-scheme-item {
  margin: 0;
  padding: 9px 0;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}
.project__runtime-scheme-item:first-child {
  background-color: #2be080;
}
.project__runtime-scheme-item:nth-child(2) {
  background-color: #f2f2f2;
}
.project__runtime-scheme-item:nth-child(3),
.project__runtime-scheme-item:nth-child(4) {
  color: #a0a0a0;
  padding: 15px 0;
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  .project {
    padding: 90px 50px 77px;
  }
  .project__runtime-item {
    max-width: 320px;
  }
  .project__runtime-text {
    margin: 22px 0 0;
    font-size: 12px;
    line-height: 18px;
  }
  .project__runtime-scheme {
    margin-top: 93px;
    grid-template-columns: 140px auto;
  }
  .project__runtime-scheme-item:nth-child(3),
  .project__runtime-scheme-item:nth-child(4) {
    padding: 14px 0;
    font-weight: 400;
  }
}

@media screen and (max-width: 540px) {
  .project {
    padding: 70px 18px;
  }
  .project__runtime {
    margin-top: 61px;
    flex-direction: column;
    gap: 56px;
  }
  .project__runtime-title {
    font-size: 18px;
    line-height: 22px;
  }
  .project__runtime-text {
    margin-top: 16px;
    font-size: 11px;
    line-height: 16px;
  }
  .project__runtime-scheme {
    margin-top: 60px;
    grid-template-columns: 100px auto;
  }
  .project__runtime-scheme-item {
    font-size: 11px;
    line-height: 13px;
    padding: 11px 0;
  }
  .project__runtime-scheme-item:nth-child(3),
  .project__runtime-scheme-item:nth-child(4) {
    padding: 10px 0;
  }
}
