.burger {
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: end;
}

.burger__button {
  width: 28px;
  height: 24px;
  margin-right: 30px;
  position: relative;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.burger__button:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 28px;
  background-color: #000;
  height: 3px;
}
.burger__line {
  position: absolute;
  right: 0;
  top: 9px;
  width: 28px;
  background-color: #000;
  height: 3px;
}
.burger__button:after {
  content: "";
  position: absolute;
  right: 0;
  top: 18px;
  width: 28px;
  background-color: #000;
  height: 3px;
}
.burger__button_light:before {
  background-color: #fff;
}
.burger__button_light:after {
  background-color: #fff;
}
.burger__line_light {
  background-color: #fff;
}
