.burger {
  /* height: 77px;
  position: fixed;
  right: 0;
  top: 0; */
  grid-area: links;
  z-index: 2;
  display: flex;
  /* align-items: end; */
  justify-content: end;
}

.burger__button {
  width: 28px;
  height: 24px;
  margin-right: 8px;
  position: relative;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.burger__button:before {
  content: "";
  position: absolute;
  top: 1px;
  right: 0;
  width: 28px;
  background-color: #000;
  height: 3px;
}
.burger__line {
  position: absolute;
  right: 0;
  top: 11px;
  width: 28px;
  background-color: #000;
  height: 3px;
}
.burger__button:after {
  content: "";
  position: absolute;
  right: 0;
  top: 21px;
  width: 28px;
  background-color: #000;
  height: 3px;
}
.burger__button_light:before {
  background-color: #fff;
}
.burger__button_light:after {
  background-color: #fff;
}
.burger__line_light {
  background-color: #fff;
}

@media screen and (max-width: 540px) {
  .burger__button {
    width: 24px;
    margin-right: 9px;
  }
  .burger__button:before {
    width: 22px;
    height: 2.5px;
    top: 2px;
  }
  .burger__line {
    width: 22px;
    height: 2.5px;
    top: 11px;
  }
  .burger__button:after {
    width: 22px;
    height: 2.5px;
    top: 20px;
  }
}
