.promo {
  /* max-width: calc(100% - 140px); */
  padding: 75px 70px;
  background-color: #073042;
}
.promo__container {
  display: flex;
  justify-content: space-between;
}
.promo__img {
  width: 304px;
  height: 310px;
  background: url(../../images/promo-img.svg) no-repeat center / cover;
}
.promo__title {
  margin: 0;
  padding: 0;
  max-width: 640px;
  font-size: 50px;
  line-height: 58px;
  color: #fff;
  font-weight: 500;
}
.promo__below-info {
  margin: 36px 0 146px;
  padding: 0;
  max-width: 310px;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
}
.promo__learn-more {
  padding: 10px 20px;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  font-weight: 500;
}

@media screen and (max-width: 1279px) {
  .promo {
    text-align: center;
    background-position: center 140px;
    padding: 140px 50px 75px;
  }
  .promo__container {
    flex-direction: column;
    align-items: center;
  }
  .promo__info {
    margin: 48px 0 92px;
    text-align: center;
  }
  .promo__title {
    max-width: 680px;
    font-size: 40px;
    line-height: 50px;
    font-weight: 400;
  }
  .promo__below-info {
    margin: 22px auto 0;
    max-width: 260px;
  }
}
