@import url(../../vendor/normalize.css);

.page {
  font-family: "Inter", "Arial", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  max-width: 1280px;
  min-width: 320px;
  min-height: 100vh;
  color: #fff;
  font-weight: 400;
  /* margin: 0 auto; */
  font-style: normal;
}

.dark-bg {
  background-color: #073042;
}

.promo {
  position: relative;
  margin: 0 auto;
  max-width: calc(100% - 140px);
  padding: 75px 0;
  background-image: url(../../images/promo__bg.svg);
  background-size: 310px 304px;
  background-repeat: no-repeat;
  background-position: 830px 75px;
}
.promo__title {
  margin: 0;
  padding: 0;
  max-width: 640px;
  font-size: 50px;
  line-height: 58px;
}
.promo__below-info {
  margin: 36px 0 146px;
  max-width: 310px;
  font-size: 13px;
  line-height: 16px;
}
.promo__learn-more {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 3px;
}

.project {
  margin: 0 auto;
  padding: 110px 0 104px;
  color: #000;
  max-width: calc(100% - 140px);
}
.project__title {
  margin: 0;
  padding: 0 0 16px;
  font-size: 22px;
  line-height: 27px;
  font-weight: 400;
  letter-spacing: -0.4px; /* Чекнуть */
  border-bottom: 1px solid;
}
.project__runtime {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.project__runtime-item {
  max-width: 550px;
}
.project__runtime-title {
  margin: 70px 0 0;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}
.project__runtime-text {
  padding: 0;
  margin: 26px 0 0;
  font-size: 14px;
  line-height: 20px;
}
.project__runtime-scheme {
  margin-top: 110px;
  display: grid;
  grid-template-columns: 228px auto;
  text-align: center;
}
.project__runtime-scheme-item {
  font-size: 14px;
  line-height: 17px;
  padding: 6px 0;
}
.project__runtime-scheme-item:first-child {
  background-color: #2be080;
}
.project__runtime-scheme-item:nth-child(2) {
  background-color: #f2f2f2;
}
.project__runtime-scheme-item:nth-child(3),
.project__runtime-scheme-item:nth-child(4) {
  color: #a0a0a0;
}

.footer {
  max-width: calc(100% - 140px);
  margin: 0 auto;
}
