@import url(../../vendor/normalize.css);

.page {
  font-family: "Inter", "Arial", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  max-width: 1280px;
  min-width: 320px;
  min-height: 100vh;
  color: #fff;
  font-weight: 400;
  margin: 0 auto;
  font-style: normal;
}

.dark-bg {
  background-color: #073042;
}
.gray-bg {
  background-color: #f5f5f5;
}
