.navbar {
  margin: 0 auto;
  display: flex;
  gap: 16px;
  justify-content: center;
  list-style-type: none;
}
.navbar__link {
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  color: #000;
}
.navbar__link_dark {
  color: #fff;
}
.navbar__link_active {
  font-weight: 500;
}
