.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: calc(100% - 140px); */
  margin: 0 auto;
  padding: 18px 70px;
  background-color: #fff;
}
.header_dark {
  background-color: #073042;
}
.logo {
  display: block;
  max-width: 38px;
}
.header__profile {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: end;
  max-width: 100px;
  padding: 3px 3px 3px 11px;
  background-color: #fff;
  border: none;
  border-radius: 40px;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.08) 0 3px 14px;
}
.header__profile_dark {
  background-color: #2be080;
}
.header__profile-icon {
  display: block;
  padding: 7.5px;
  width: 10.5px;
  height: 10.5px;
  background-color: #f9f9f9;
  border-radius: 50px;
}
.header__profile-text {
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 12px;
  font-weight: 500;
  color: #000;
}
.header__auth-links {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header__signup {
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}
.header__signin {
  padding: 8px 20px;
  background-color: #2be080;
  border-radius: 3px;
  color: #000;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}

.navbar {
  display: flex;
  gap: 16px;
  justify-content: center;
  list-style-type: none;
}
.navbar__link {
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  color: #000;
}
.navbar__link_dark {
  color: #fff;
}
.navbar__link_active {
  font-weight: 600;
}
