.header {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 18px 70px;
  background-color: #fff;
}
.header_dark {
  background-color: #073042;
}
.header__logo {
  position: absolute;
  left: 70px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  max-width: 38px;
}
.header__auth-links {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 30px;
}
.header__signup {
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}
.header__signin {
  padding: 8px 20px;
  background-color: #2be080;
  border-radius: 3px;
  color: #000;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}
.header__profile-btn {
  position: absolute;
  right: 70px;
  top: 50%;
  transform: translateY(-50%);
  justify-content: end;
}

@media screen and (max-width: 1279px) {
  .header {
    padding: 33px 0;
  }
  .header__logo {
    left: 30px;
  }
  .header__profile {
    right: 30px;
  }
}
